<div class="politico-wrapper">

	<div id="politico-searchbox">

		<div class="inputbox-holder">
		    <form autocomplete="off">
		        <input id="inputbox" placeholder="Enter a search term" size="90" type="text">
		    </form>
		    <div id="political-search">Search</div>
		</div>

	</div>

	<div id="political-message"></div>

	<div id="politico-advertising">
		
	    <% for(var i=0; i < database.length; i++) { %>

			<% if (i == 19) { %>

				<div class="political-advert infinity" data-id="<%= database[i]['id'] %>">

			<% } else { %>	

				<div class="political-advert" data-id="<%= database[i]['id'] %>">

		    <% } %>	

	        	<% if ( database[i]['thumbnail'].length > 0) { %>

      				<div class="chiclet"><img src=" <%= database[i]['thumbnail'] %> "/></div>

      			<% } %>	

	            <div class="political-headline">
	                
	                <h3> <%= database[i]['title'] %> </h3>

	            </div>

	            <div class="political-content">
	                
	                <%- database[i]['message'] %>

	            </div>

				<% if(database[i]['images'].length > 0) { %> 

					<div class="political-images">

					<% for(var ii=0; ii < database[i]['images'].length; ii++) { %>

					<img src=" <%= database[i]['images'][ii] %> "/>

					<% } %>

					</div>

				<% } %>					

				<div class="political-targeting">

					<div> <%- database[i]['targeting'] %> </div>

				</div>

				<div class="political-social">

					<div class="political-block">

						<div class="political-action">Share this advert</div>

						<div class="political-facebook" data-id="<%- database[i]['id'] %>" data-title="<%= database[i]['title'] %>"></div>

						<div class="political-twitter" data-id="<%- database[i]['id'] %>" data-title="<%= database[i]['title'] %>"></div>

						<div class="political-link" data-id="<%- database[i]['id'] %>" data-title="<%= database[i]['title'] %>">
							<span class="tooltiptext">Copy to clipboard</span>
						</div>

					</div>

				</div>

	        </div>

	    <% } %>

	</div>

</div>
